/* 
    PANEL COULEUR

    #EFF1ED
    #373D20
    #717744
    #BCBD8B
    #766153
*/

*, ::before, ::after{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica;
}


.banner{
    /* background-color: green; */
    background-image:linear-gradient(rgba(239, 241, 237, 1), rgba(113, 119, 68, 0.5)), url('../img/bg_forest.jpg');
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-question{
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    width: 100%;
}
.contact-question h1{
}

.check {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
}
.check div {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.check input[type="radio"]{
    width: 20px;
    height: 20px;
}
.check label {
    margin-left: 5px;
    margin-top: 2px;
}
.card-contact{
    background: #000;
    height: 280px;
    width: 200px;
}

#how-to-contact{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

#form{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
#form form {
    width: 50%;
    font-size: 20px;
}
#form input {
    outline: none;
    border-style: none;
    /* width: 50%;
    height: 35px; */
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
    font-size: 18px;
}
#form textarea{
    /* width: 280px;
    height: 280px; */
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    font-family: Helvetica;
    font-size: 18px;
}
.name-input {
    display: flex;
    margin-bottom: 10px;
}
.name-input input {
    width: 50%;
}
.name-input input:first-child{
    margin-right: 5px;
}
.entreprise {
    margin-bottom: 10px;
}
.entreprise input {
    width: 100%;
}
.tel-input{
    display: flex;
    margin-bottom: 10px;
}
.tel-input input {
    width: 100%;
   }
.tel-input input:first-child{
    width: 40px;
    margin-right: 5px;
}
.option-input {
    margin-bottom: 10px;
}
.option-input select{
    width: 100%;
    font-size: 18px;
}
input[type="submit"]{
    border-style: none;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    width: 175px;
    height: 40px;
    border-radius: 10px;
    background: #766153;
    color: #EFF1ED;
    transition: all 0.1s ease-in-out;
}

input[type="submit"]:hover{
    transform: scale(1.05);
}

.info-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
    margin-left: 15px;
}
.info-contact p{
    text-align: justify;
}
.div-input{
    display: flex;
    flex-direction: row !important;
    margin-bottom: 20px;
}

input#show-tel{
    height: 30px;
    padding: 3px;
}
input#show-tel:hover{
    cursor: text;
}
input#show-mail{
    height: 30px;
    padding: 3px;
}
input#show-mail:hover{
    cursor: text;
}
.time-choice {
    margin-bottom: 20px;
}

.opening td{
    width: 300px;
}
