
.article-img{
    transition: transform 1s, filter 0.5s ease-in-out;
    transform-origin: center center;
  }
  
  /* The Transformation */
.article-img:hover{
    transform: scale(1.2);
  }

  .little-owner-container-img{
    transition: transform 0.5s ease-in-out;
  }
  
  /* The Transformation */
 .little-owner-container-img:hover{
    transform: scale(1.1);
  }
#img1{
    transition: transform 0.5s ease-in-out;
}
#img1:hover {
    transform: scale(1.1);
}

#img2{
    transition: transform 0.5s ease-in-out;
}
#img2:hover {
    transform: scale(1.1);
}

#formation-img{
    transition: transform 1s, filter 0.5s ease-in-out;
    transform-origin: center center;
}
.card-service:hover #formation-img{
    transform: scale(1.2);
}
#coaching-img{
    transition: transform 1s, filter 0.5s ease-in-out;
    transform-origin: center center;
}
.card-service:hover #coaching-img{
    transform: scale(1.2);
}
.card-about{
    transition: transform 0.5s ease-in-out;
}
.card-about:hover{
    transform: scale(1.5);
}