
.div-container{
    width: 100%;
}
.logo img {
    width: 20%;
}

.nav-menu {
    width: 50%;
    
}

.nav-links {
    padding: 1%;
}

footer{
    background-color: #BCBD8B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 5%;
}
.link-container{
    display: flex;
    justify-content: center;
}
#contact-button{
    display:flex;
    justify-content: center;
    background-color: #766153;
    color: #EFF1ED;
    text-decoration: none;
    text-align: center;
    padding: 3%;
    width: fit-content;
    margin-left: 25%;
    max-width: 60%;
    margin-top: 20px;
    border: solid;
    border-radius: 10px;

}

#services-button{
    display:flex;
    justify-content: center;
    background-color: #766153;
    color: #EFF1ED;
    text-decoration: none;
    text-align: center;
    padding: 3%;
    width: fit-content;
    margin-left: 5%;
    margin-top: 1%;
    max-width: 12%;
    border: solid;
    border-radius: 10px;
}

#about-button{
    justify-content: center;
    background-color: #766153;
    color: #EFF1ED;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    display: flex;
    width: fit-content;
    margin-top: 20%;
    max-width: 40%;
    border-radius: 10px;
    padding: 2%;
}

footer .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 1%;
}
footer .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding: 1%;
}
footer .right input{
    border: none;
    outline: none;
    padding: 3px;
    background-color: #EFF1ED;
}

.card-about {
    border: solid;
    max-width: 40%;
    background-color:#EFF1ED;
    margin-left: 35%;
    margin-top: 15%;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.2em;
}

.service-txt {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 75%;
    text-align: center;
    font-size: 1.4em;
}

.banner {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 8%;
    background-image:linear-gradient(rgba(239, 241, 237, 1), rgba(113, 119, 68, 0.5)), url('../img/bg_forest.jpg');
    margin-bottom: 27%;
}

.banner h1 {
    padding-left: 5%;
}

.about {
    position: relative;
}

.about-img {
    position: absolute;
    top: -50%;
    left: 10%;
    z-index: -1;
}

.about-img img {
    border: solid;
    border-radius: 15px;
    width: 50%;
}

.card-service-container {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-service{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 90%;
    position: relative;
    margin-top: 5%;
}
.card-service p{
    font-size: 1.2em;
}


#coaching-txt {
    border: solid;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#EFF1ED;
    padding: 20px;
}

#formation-txt {
    border: solid;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#EFF1ED;
    padding: 20px;
    border-radius: 15px;
}


#services-button2{
    display:flex;
    justify-content: center;
    background-color: #766153;
    color: #EFF1ED;
    text-decoration: none;
    text-align: center;
    padding: 3%;
    width: fit-content;
    margin-left: 25%;
    margin-top: 1%;
    max-width: 50%;
    margin-top: 20px;
    border: solid;
    border-radius: 10px;
}

#coaching-img{
    height: 100%;
    position: absolute;
    top: -80px;
    left: 160px;
    z-index: -1;
}

#coaching-img img{
    border-radius: 15px;
    border: solid;
}

#formation-img{
    height: 100%;
    position: absolute;
    top: -80px;
    left: 160px;
    z-index: -1;
}

#formation-img img{
    border: solid;
    border-radius: 15px;
}

.testimony{
    text-align: center;
    margin-top: 80px;
}

.trainer{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.trainer-txt{
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
}

.trainer-card-container{
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.trainer-card{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 90%;
    position: relative;
    margin-top: 10%;
    padding-top: 5%;
}

.trainer-card-img{
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0px;
    z-index: -1;
    border-radius: 15px;
}
.trainer-card-img img {
    border: solid;
    border-radius: 15px;
    width: 45%;
}

.trainer-card-txt{
    border: solid;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#EFF1ED;
    padding: 20px;
}
.carousel-inner {
    height: 350px;
    background-image:linear-gradient(rgb(255, 255, 255), rgba(113, 119, 68, 0.5)), url('../img/bg_forest.jpg');
}

.carousel-caption {
    font-family: 'Helvetica', sans-serif;
    color: black;
    text-shadow: none;
    text-align: justify;
    margin-left: 220px;
    top: 10px;
    font-size: 1.2em;
    
}

.carousel-inner img {
    margin-top: 5%;
    margin-left: 200px;
    height: 10%;
    width: 10%;
    border-radius: 20px;
}


  .carousel-inner > .item > a > img {
    width: 90%;
    margin: auto;
    text-decoration: none;
  }

  .carousel-indicators li{
    display:inline-block;
    width:20px;
    height:20px;
    margin:5px;
    text-indent:-999px;
    cursor:pointer;
    background-color: black;
    border:1px solid black;
    border-radius:10px;
}

.carousel-indicators .active{
    width:20px;
    height:20px;
    margin:5px;
    background-color: #EFF1ED;
    border:1px solid #000000;
    border-radius:10px;
}