.who{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    background-image:linear-gradient(rgba(239, 241, 237, 1), rgba(113, 119, 68, 0.5)), url('../img/bg_forest.jpg');    padding: 7%;
    text-shadow: black;
}

.consulting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.card-consulting{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.card-consulting1{
    background-image: url('../img/img6.jpg');
    width: 450px;
    height: 400px;
    border: solid;
    border-radius: 15px;
}

.card-consulting2{
    margin-top: 1%;
    background-image: url('../img/img5.jpg');
    width: 450px;
    height: 300px;
    border: solid;
    border-radius: 15px;
}
.consulting-txt{
    margin-right: 15%;
}
.consulting-txt h2{
    margin: 5%;
    padding-left: 10%;
}

.consulting-txt h3{
    margin: 5%;
    padding-left: 10%;
}
.consulting-txt p{
    margin-bottom: 10%;
    padding: 10%;
    font-size: 20px;
}
#button-contact-about{
    background-color: #766153;
    color: #EFF1ED;
    text-decoration: none;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    margin-left: 10%;

}
#button-contact-about:hover{
    background-color: #EFF1ED;
    color: black;
}
.training{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 14%;
}

.training-txt{
    text-align: justify;
    border: 3px solid;
    border-radius: 15px;
    background-color: #EFF1ED;
    padding: 3%;
    padding-left: 10%;
    z-index: -8;
    margin-left: -70px;
    margin-bottom: 5%;
    max-width: 400px;
}
.transition-pannel{
    background: url('../img/mainpage_coaching_img.jpg');
    width: 100%;
    height: 500px;
}
.pro{
    display: flex;
    justify-content: center;
}

.pro h2{
    margin: 5%;
}

.helene{
    display: flex;
    justify-content: center;
}

.clement{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

}

.training-card{
    margin-top: 3%;
    background-image: url('../img/img1.jpg');
    width: 450px;
    height: 500px;
    border: solid;
    border-radius: 15px;
}

.helene-card{
    margin-top: 1%;
    margin-right: 1%;
    background-image: url('../img/blank-avatar.jpg');
    width: 200px;
    height: 170px;
    border: black solid;
    border-radius: 15px;
}

.helene-txt{
    max-width: 65%;
}

.clement-card{
    margin-top: 1%;
    margin-left: 1%;
    background-image: url('../img/blank-avatar.jpg');
    width: 200px;
    height: 170px;
    border: black solid;
    border-radius: 15px;
}
@media screen and (max-width: 1280px)
{
    html{
        font-size: 18px;
    }
    .card-consulting1{
        width: 350px;
        height: 250px;
        margin-top: 50px;
    }
    .card-consulting2{
        width: 350px;
        height: 200px;
        margin-top: 70px;
    }
    .consulting-txt{
        width: 350px;
        margin-right: 25px;
    }
    .training-txt{
        padding: 3%;
        padding-left: 10%;
        z-index: -8;
        margin-left: -40px;
    }
    .training{
        margin-left: 4%;
        margin-right: 4%;
    }
    .training-card{
        margin-top: 7%;
        background-image: url('../img/bg_forest.jpg');
        width: 450px;
        height: 550px;
        border: black solid;
    }
    .who{
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: 90px;
        background-image:linear-gradient(rgba(239, 241, 237, 1), rgba(113, 119, 68, 0.5)), url('../img/bg_forest.jpg');    padding: 7%;
        text-shadow: black;
    }
}
@media screen and (max-width: 900px)
{
    html{
        font-size: 18px;
    }
    .consulting{
        margin-top: 40px;
    }
    .card-consulting1{
        width: 150px;
        height: 550px;
        margin-top: 50px;
    }
    .card-consulting2{
        width: 150px;
        height: 550px;
        margin-top: 70px;
    }
    .consulting-txt{
        width: 350px;
        margin-right: 5px;
        margin-left: 10px;
    }
    .training-txt{
        padding: 3%;
        padding-left: 10%;
        z-index: -8;
        margin-left: -30px;
    }
    .training{
        margin-left: 4%;
        margin-right: 4%;
    }
    .training-card{
        margin-top: 7%;
        background-image: url('../img/bg_forest.jpg');
        width: 450px;
        height: 550px;
        border: black solid;
    }
    .helene-card{
        margin-top: 1%;
        margin-right: 1%;
        background-image: url('../img/bg_forest.jpg');
        width: 200px;
        height: 170px;
        border: black solid;
    }
    
    .clement-card{
        margin-top: 2%;
        margin-left: 2%;
        background-image: url('../img/bg_forest.jpg');
        width: 200px;
        height: 170px;
        margin-bottom: 2%;
        border: black solid;
    }
    .helene{
        display: flex;
        justify-content: center;
        margin-left: 3%;
    }
    
    .clement{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        text-align: end;
        margin-top: 1%;
    }
    .transition-pannel{
        display: none;
    }
}


@media screen and (max-width: 375px)
{
    .who{
        text-align: center;
    }

.clement-txt{
    max-width: 65%;
    text-align: end;
}

.trainers{
    display: flex;
    flex-direction: column;
}