.who{
    text-align: center;
    margin: 10%;
    background-color: #BCBD8B;
    padding: 3%;
}

.consulting{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-consulting{
    display: flex;
    flex-direction: column;
}
.consulting-txt{
    margin-right: 35%;
}

.training{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20%;
}

.training-txt{
    border: 3px solid;
    background-color: #BCBD8B;
    padding: 3%;
}

.pro{
    display: flex;
    justify-content: center;
}

.helene{
    display: flex;
    justify-content: center;
}

.clement{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.training-card{
    margin-top: 2%;
    margin-right: 3%;
}

.helene-card{
    margin-top: 1%;
    margin-right: 1%;
}

.clement-card{
    margin-top: 2%;
    margin-left: 2%;
}

.a{
    margin: 0 auto;
    margin-top: 1%;
    border: 3px black groove;
    background-color: black;
    padding: 1%;
     width: 200px;
}
*, ::before, ::after{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Helvetica', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #EFF1ED;
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BCBD8B;
}

.logo img {
    width: 20%;
}

.nav-menu {
    width: 50%;
    
}

.nav-links {
    padding: 1%;
}

footer{
    background-color: #BCBD8B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 5%;
}
.link-container{
    display: flex;
    justify-content: center;
}
#contact-button{
    background-color: #766153;
    color: #EFF1ED;
    text-decoration: none;
    text-align: center;
    padding: 1%;
}
#contact-button:hover{
    background-color: #EFF1ED;
    color: black;
}
footer .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 1%;
}
footer .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding: 1%;
}
footer .right input{
    border: none;
    outline: none;
    padding: 3px;
    background-color: #EFF1ED;
}
