*, ::before, ::after{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

header.head_cont{
    background-image: url('../images/bg_forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: #fff;
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
}
header li {
    list-style: none;
    cursor: pointer;
    line-height: 70px;
    font-size: 20px;
}

.navbar{
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: space-between;
    height: 70px;
    justify-self: flex-start;
    padding: 0 20px;
}

.head_title h1{
    font-size: 45px;
    line-height: 70px;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.slogan{
    font-size: 50px;
    text-align: center;
    margin-top: 17%;
}
.slogan h2{
    /* line-height: 70vh; */
    text-shadow: 8px 8px 5px #000;
}

.rdv-button{
    text-align: center;
    text-decoration: none;
    background-color: #663333;
    color: #ffffff;
    font-size: 20px;
    margin: 80px auto;
    padding: 20px 35px;
    border-radius: 50px;
    /* box-shadow: -1px 1px 20px 10px rgba(0,0,0,0.9); */
    border: 2px solid rgba(0, 0, 0, 0.8);
    transition: all 0.1s ease-in-out;
}
.rdv-button:hover{
    transform: scale(1.1);
}